{% extends 'master/master.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
    <script src="{% static 'assets/js/messages.js' %}"></script>
    <style>
        .asteriskField {
            display: none;
        }
    </style>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-8 offset-lg-2 text-sm-center">
                    {% if messages %}
                        {% if messages %}
                            {% for message in messages %}
                                <div   {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-lg-8 offset-lg-2">
                    <h4 class="page-title">Edit Employee</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <form method="post" action="{% url 'edit-employee' emp_obj.slug %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ empform.fname |as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ empform.lname |as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ empform.uname |as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ empform.email |as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="form-control" type="password">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input class="form-control" type="password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="cal-icon">
                                        {{ empform.age |as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="cal-icon">
                                        {{ empform.joining_date |as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ empform.phone |as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ empform.role |as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ empform.status |as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ empform.gender |as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Avatar</label>
                                    <div class="profile-upload">
                                        <div class="upload-img">
                                            <img alt="" id="output" src="{{ emp_obj.image.url }}">
                                        </div>
                                        <div class="upload-input form-control" style="padding: 0;" onchange="loadFile(event)">
                                            {{ empform.image }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-t-20 text-center">
                            <button class="btn btn-primary submit-btn">Update Employee</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('.datetime-input').datetimepicker({
                format: 'YYYY-MM-DD'
            });

        });
    </script>
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}`"></script>
    <script src="{% static 'assets/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script>
        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
{% endblock %}
