{% extends 'master/master.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'assets/js/messages.js' %}"></script>

    <script src="{% static 'assets/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static '/static/assets/js/app.js' %}"></script>
    <style>
        .form-control.form-control-sm {
            padding: 0.1rem 0.91rem;
        }

        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: #8ae6ee;
        }
    </style>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">{{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-sm-4 col-3">
                    <h4 class="page-title">Schedule</h4>
                </div>
                <div class="col-sm-8 col-9 text-right m-b-20">
                    <a href="{% url 'add-schedule' %}" class="btn btn btn-primary btn-rounded float-right"><i
                            class="fa fa-plus"></i> Add Schedule</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-border table-striped custom-table datatable mb-0 table-hover">
                            <thead>
                            <tr>
                                <th>Schedule ID</th>
                                <th>Created at</th>
                                <th>Doctor</th>
                                <th>Doctor Name</th>
                                <th>Department</th>
                                <th>Available Days</th>
                                <th>Available Time</th>

                                <th>Status</th>
                                <th class="text-right">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for schedule in schedule_obj  %}
                                <tr>
                                    <td>{{ schedule.code }}</td>
                                <td>{{ schedule.created_at }}</td>
                                    <td><img width="40" height="40" src="{{ schedule.doc_obj.image.url }}" class="rounded-circle m-r-5" alt=""></td>
                                    <td>{{ schedule.doc_obj.fullname }}</td>
                                    <td>{{ schedule.dep_obj.get_department_display }}</td>
                                    <td>
                                        {% for day in schedule.available_days.all %}
                                            {{ day }}
                                        {% endfor %}
                                    </td>
                                    <td>{{ schedule.start_time | time:"g:i A" }}
                                        - {{ schedule.end_time | time:'g:i A' }} </td>
                                    <td>
                                        {% if schedule.status == 'A' %}
                                            <span class="custom-badge status-green">Active</span>
                                        {% else %}
                                            <span class="custom-badge status-red">Inactive</span>
                                        {% endif %}
                                    </td>

                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                               aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="{% url 'edit-schedule' schedule.id %}"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="{% url 'delete-schedule' schedule.id %}"
                                                   data-toggle="modal"
                                                   data-target="#delete_schedule{{ schedule.id }}"><i class="fa fa-trash-o m-r-5"></i>
                                                    Delete</a>

                                            </div>
                                            <form action="{% url 'delete-schedule' schedule.id %}" method="post">
                                            {% csrf_token %}
                                            <div id="delete_schedule{{ schedule.id }}" class="modal fade delete-modal" role="dialog">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-body text-center">
                                                            <img src="{% static 'assets/img/sent.png' %}" alt="" width="50"
                                                                 height="46">
                                                            <h3>Are you sure want to delete this Schedule?</h3>
                                                            <div class="m-t-20"><a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                                                                <button type="submit" class="btn btn-danger">Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        </div>

                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}